/*!
 * css
 */

.atend1 {
  background: rgb(167, 241, 187);
}

.atend2 {
  background: rgb(136, 101, 230);
}

.atend3 {
  background: rgb(243, 233, 144);
}

.atend4 {
  background: rgb(240, 152, 214);
}

.atend5 {
  background: rgb(201, 124, 124);
}

.atend6 {
  background: rgb(17, 3, 107);
}

.atend7 {
  background: rgb(201, 132, 5);
}

.atend8 {
  background: orange;
}

.atend9 {
  background: rgb(175, 32, 175);
}

.row.centro {
  background-color: gainsboro;
  height: 14vh;
}

.modal {
  text-align: center;
  align-content: center;

}

/* .modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
} */


.modal-dialog {
  display: inline;
  text-align: center;
  vertical-align: top;
  position:relative;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 300px;
}
