/*!
 * css
 */

.cor1 {
  background: brown;
}

.cor2 {
  background: rgb(60, 20, 168);
}

.cor3 {
  background: rgb(179, 164, 30);
}

.cor4 {
  background: rgb(179, 164, 30);
}

.cor5 {
  background: rgb(192, 10, 10);
}

.cor6 {
  background: rgb(17, 3, 107);
}

.cor7 {
  background: rgb(185, 124, 11);
}

.cor8 {
  background: orange;
}

.cor9 {
  background: purple;
}